@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

body {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  font-size: small;
  transition: all .5s ease-in-out;
  font-family: "inter", sans-serif;
  background-size: 30px;
  /* background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC"); */
  background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='40' height='40' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform='rotate(180)'%3E%3Crect width='100%25' height='100%25' fill='rgba(255, 255, 255,1)'/%3E%3Ccircle cx='40' cy='20' r='0.25' fill='rgba(226, 232, 240,1)'/%3E%3Ccircle cx='0' cy='20' r='1' fill='rgba(203, 213, 224,1)'/%3E%3Ccircle cx='40' cy='20' r='1' fill='rgba(203, 213, 224,1)'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E ");}
.loader-bgs {
  background-color: white;
  position: fixed;
  z-index: 1;
  margin: auto;
  width: calc(100% + 300px);
  height: calc(100% + 300px);
}

.loaders {
  border: 0 solid transparent;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  position: absolute;
  top: calc(50vh - 75px);
  left: calc(50vw - 75px);
}

.loader:before,
.loader:after {
  content: "";
  border-radius: 50%;
  border: 0.1em solid #000000;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  animation: loader 2s linear infinite;
  opacity: 0;
}

.loader:before {
  animation-delay: 0.5s;
}

@keyframes loader {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

header .logo-nav h2 {
  color: rgb(41, 41, 41);
  font-family: "Pacifico", cursive;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px 0 10px;
}

.social {
  display: flex;
  justify-content: space-between;
}

.sc-icon {
  transition: all 0.3s ease-in-out;
  border-radius: 6px;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
}
svg:hover {
  fill: #485696;
  transition: all 0.3s ease-in-out;
}

header .menu ul,
a,
li {
  align-self: center;
  font-weight: 700;
  position: relative;
  font-family: "Inter", sans-serif;
  display: flex;
  color: rgb(41, 41, 41);
  justify-content: space-evenly;
  align-content: space-around;
  gap: 30px;
  text-decoration: none;
}

header .menu a:after {
  transition: all 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  content: "";
  position: absolute;
  background-color: black;
  height: 2px;
  border-radius: 5px;
  width: 0;
  left: 0;
  bottom: -6px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #485696;
}

header .menu a:hover:after {
  width: calc(100% + 2px);
  transition: all 0.3s ease-in-out;
}

a:hover {
  transition: color 0.5s ease-in-out, box-shadow 0.3s ease-in-out;
  color: #485696
}

#dot {
  color: #485696;
}

#abel {
  color: #485696;
}

#email{
  transition: color 0.5s ease-in-out, box-shadow 0.3s ease-in-out;
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
  align-self: center;
  color: grey;
}
#email:hover{
   transition: color 0.5s ease-in-out, box-shadow 0.3s ease-in-out;
  color: black;
}

hr {
  margin-top: -8px;
  width: 100%;
  height: 0.5px;
  background-color: rgba(128, 128, 128, 0.219);
  opacity: 0;
  border: none;
}

.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 10px;
  height: calc(100vh - 16em);
}

.img {
  -webkit-box-shadow: 0px 0px 300px 187px rgba(255, 46, 46, 0.423);
  -moz-box-shadow: 0px 0px 300px 300px rgba(130, 46, 255, 0.2);
  box-shadow: 0px 0px 300px 187px rgba(255, 213, 46, 0.207);
  margin: 0 25% 0 25%;
  width: 150px;
  height: 150px;
  background-color: #c2c2c250;
  border-radius: 50%;
  align-items: center;
  align-self: center;
  display: inline-block;
  background-size: cover;
  overflow: hidden;
}

.img img {
  width: 100%;
}

.about {
  display: grid;
}

.about h1 {
  margin-bottom: 10px;
  margin-top: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 50px;
  text-align: center;
  width: 700px;
  color: #131313;
}

.about h3 {
  text-align: center;
  margin-top: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.5px;
  color: grey;
}
.about #motto {
  font-style: italic;
  font-weight: 400;
}
.about #name {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 5px;
  margin-bottom: 0;
  text-align: center;
}

.arrow,
.arrow:before {
  position: absolute;
}

.arrow {
  margin-top: 0px;
  width: 50px;
  height: 50px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 2px #181818 solid;
  border-bottom: 2px #363636 solid;
}

.arrow:before {
  content: "";
  width: 20px;
  height: 20px;
  border-left: none;
  border-top: none;
  border-right: 1px #545353 solid;
  border-bottom: 1px #202020 solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}

@keyframes arrow {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translate(-10px, -10px);
  }
}

.about-me {
  margin-top: 10%;
  display: flex;
  justify-content: space-around;
  align-content: center;
  gap: 20px;
  margin-left: 40px;
  margin-right: 40px;
  height: calc(100vh);
  scroll-snap-align: start;
  scroll-snap-stop: always;

}

.details{
  width: 45%;
  display: grid;
  gap: 5;
  align-content: flex-start;
  font-family: "inter", sans-serif;
  margin: 0;
  font-size: 14px;
  font-weight: 600;

}
.details #heading{
  color: #485696;
}
.about-me .progress{
  text-align: center;
  width: 45%;
  display: grid;
  gap: 2px;
  align-content: center;
  border-radius: 15px;
  font-family: "inter", sans-serif;
  font-weight: 600;
  height: 80px;
  margin-top: 15px;
  background-color: rgba(247, 246, 246, 0.679);
}
.progress .numbers{
  font-size: 24px;
  color: #485696;
  font-weight: 600;
  display: flex;
  gap: 30px;
  justify-content: space-evenly;
}

.progress .texts{
  color: #131313;
  font-weight: 500;
  display: flex;
  gap: 30px;
  justify-content: space-evenly;
}
.info{
  background-color: #c2c2c250;
  border-radius: 8px;
  height: 50px;
  display: grid;
 align-content: center;
 align-items: center;

  
}
.tp-ag{
  text-align: left;
  display: flex;
  justify-content: space-around;
  
  color: #485696;
}
.tp-nm{
  font-weight: 500;
  width: 90%;
  text-align: right;
  display: flex;
  justify-content: space-around;

}